@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 10px 20px;
}

.navbar {
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.navbar li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    text-align: center;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.name-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.name {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border-style: solid none;
    border-color: orange;
    border-width: 1rem;
    font-size: 2rem;
    padding: 3px 50px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.icon {
    padding: 1px 5px;
}

.icon a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.title-underline {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    border-style: none none solid none;
    padding-bottom: 20px;
    border-width: 2px;
    text-transform: uppercase;
    margin: 40px auto;
}

.description-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px auto;
}

.photo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.photo img {
    width: 100%;
}

.title {
    font-family: 'Open Sans', sans-serif;
    margin: 24px auto;
}

.border-bottom {
    padding-bottom: 20px;
    border-bottom: solid;
    border-color: orange;
    border-width: 20px;
}

.description-2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin: 20px auto;
}

.bg-orange {
    background-color: rgb(252, 122, 0);
}

.cards {
    padding: 20px;
}

.card {
    background-color: white;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 16px;
    padding-bottom: 50px;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 230px;
}

.icon-card {
    color: orange;
}

.card-title {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px auto;
    font-size: 1.3rem;
}

.contact-info {
    padding: 20px 20px;
}

.contact-title {
    padding: 20px 0;
    font-size: 2rem;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.description-2 {
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
}

.contact-img {

}

.contact-img img {
    max-width: 300px;
    border-radius: 50%;
}

.contact-form {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.form-group {
    padding: 10px 1px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.form-label {
    color:white
}

.form-control {
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border-style: none none solid none;
    border-color: white;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form {
    padding-bottom: 50px;
    width: 400px;
}

.btn {
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-style: none;
    padding: 5px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }